{% extends '::base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" 
href="/node_modules/angular-ivh-treeview/dist/ivh-treeview.min.css">
{% endblock %}

{% block body %}
    {% verbatim %}
<div class="row" ng-app="arrivalApp">
    <div class="col-12">
        <div ng-view></div>
    </div>
</div>
    {% endverbatim %}
{% endblock %}

{% block javascripts %}
<script>
    var productCategories = {{ productCategories|json_encode|raw }};
</script>
<script src="/node_modules/angular-ivh-treeview/dist/ivh-treeview.min.js"></script>
<script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
